@using FailTracker.Web.Models.Dashboard
@using System.Web.Mvc.Html
@model FailTracker.Web.Models.DashboardViewModel
@{
    ViewBag._Title = "Your Dashboard";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Issues/Dashboard.js")"></script>

<h2>Your Projects</h2>
@foreach (var project in Model.Projects)
{
	@Html.DisplayFor(m => project)
}

