@model FailTracker.Web.Models.ProjectAdministration.InviteMemberForm

@{
	ViewBag._Title = "Invite Member";
}

<h2>Invite Member</h2>

@using(Html.BeginForm())
{
	@Html.EditorForModel()
	@MyHelpers.ControlBox("Invite")
}