@using FailTracker.Web.Models.CompleteIssue
@model CompleteIssueForm

@{
	ViewBag._Title = "Complete Story - '" + Model.Title + "'";
}

<h2>Complete <em>@Model.Title</em></h2>
<div class="bug-notes">
	<div>@Model.Description</div>
</div>

@using(Html.BeginForm())
{
	@Html.EditorForModel()
	@MyHelpers.ControlBox("Complete")
}