@model TryCatchFail.CodeStock2011.FailTracker.Web.Models.Issues.AddIssueForm
@{
	ViewBag._Title = "Add Issue";
}

<h2>Add Issue</h2>
@using (Html.BeginForm())
{
	@Html.EditorForModel()
	@MyHelpers.ControlBox("Add Issue")
}