@model FailTracker.Web.Models.Account.LogOnForm
@{
    ViewBag._Title = "Log On";
}

<link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/Account/LogOn.css")" />
<h2>Log On</h2>
@using (Html.BeginForm())
{
	@Html.EditorForModel();
	@MyHelpers.ControlBox("Log On")
}