body
{
    font-size: 12px;
    font-family: Arial, Sans-Serif;
    color: #333;
    background-color: #fff;
}

hr
{
	border: none;
	height: 1px;
	background: #BBB;
	width: 75%;
}

/* Styles for basic forms
-----------------------------------------------------------*/

form li
{
	padding-bottom: 1em;
}

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

label
{
	display: block;
	font-weight: bold;
	font-size: 110%;
	margin: 0.25em 0;
}

label:after
{
	content: ":"
}

input, textarea, select
{
	border: 1px solid #bbb;
	padding: 0.25em;
	border-radius: 3px;
}

input[type=text], 
input[type=password], 
select
{
    width: 25em;
}

textarea
{
	width: 24.8em;
    min-height: 5em;
    vertical-align: text-top;
    resize: vertical;
}

div.control-box
{
    border-top: 2px solid #eee;
    padding: 1em 0 0 10em;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
	border: 1px solid #CD0A0A;
	background-color: #FEF1EC;
	color: #CD0A0A;
	padding: 0.25em;
	border-radius: 4px;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
	border: 1px solid #CD0A0A;
	background-color: #FEF1EC;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Status Messages
-----------------------------------------------------------*/

#status-message
{
	font-weight: bold;
	line-height: 1em;
	margin: 1em auto;
	padding: 0.5em;
	text-align: center;
	width: 20em;
	position: absolute;
	display: none;
	clear: both;
}

#status-message.success
{
	background-color: #C8FFC8;
	border: 1px solid green;
}

#status-message.error
{
	background-color: #FEF1EC;
	border: 1px solid #CD0A0A;
	color: #CD0A0A;
}

/* Display Issue
-----------------------------------------------------------*/
div.bug-details
{
	padding: 1em;
}

div.bug-details label
{
	width: auto;
	text-align: left;
	font-weight: bold;
	display: block;
	margin-top: 1em;
}

div.bug-details label:first-child
{
	margin-top: 0;
}

div.bug-notes
{
	background-color: #eee;
	padding: 1em;
}

div.bug-notes h4
{
	margin-bottom: 1em;
	font-size: 110%;
}

div.bug-notes div
{
}

/* Display Issue
-----------------------------------------------------------*/
div.dialog
{
	display: none;
}