@using FailTracker.Web.Models.AddIssue
@model AddIssueForm
@{
	ViewBag._Title = "Add Issue";
}

<h2>Add Issue</h2>
@using (Html.BeginForm())
{
	@Html.EditorForModel()
	@MyHelpers.ControlBox("Add Issue")
}