<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="FluentNHibernate" version="1.2.0.712" />
  <package id="HtmlTags" version="1.0.0.23" />
  <package id="Iesi.Collections" version="3.1.0.4000" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="NHibernate" version="3.1.0.4000" />
  <package id="NHibernate.Castle" version="3.1.0.4000" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="structuremap" version="2.6.2" />
  <package id="WebActivator" version="1.0.0.0" />
</packages>