<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="structuremap" version="2.6.2" />
  <package id="WebActivator" version="1.0.0.0" />
  <package id="StructureMap-MVC3" version="1.0.6" />
</packages>