@if (TempData["StatusMessage"] != null)
{
	<script type="text/javascript">
		$(function () { 
			Site.showStatus("@Html.Encode(TempData["StatusMessage"])", "@TempData["StatusMessageType"]");
		});
	</script>
}
<div id="status-message" class="error">
</div>