@using FailTracker.Web.Models.Dashboard
@model ProjectDashboardViewModel
		   
<h3>Recent changes in @Model.Name</h3>
<table>
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Type</th>
			<th>Title</th>
			<th>Size</th>
			<th>Assigned To</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@Html.DisplayFor(m => m.ActiveIssues)
	</tbody>
</table>
@Html.ProjectToolbarFor(Model.ID)
