@using StructureMap
@model IContainer

@{
	ViewBag._Title = "Container Diagnostics";
}

@Html.Css("~/Content/Utility/Container.css")

<h2>Container Diagnostics</h2>

<pre>
@Html.Raw(Model.WhatDoIHave())
</pre>