@model FailTracker.Web.Models.Authentication.LogOnForm
@{
    ViewBag._Title = "Log On";
}

<link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/Account/LogOn.css")" />
<h2>Log On</h2>
@using (Html.BeginForm())
{
	@Html.EditorForModel();
	@MyHelpers.ControlBox("Log On")
}


@section SideBarRight{
	<div class="message">
		<p>Don't have an account? <br/> @(Html.ActionLink<SignUpController>(c => c.SignUp(), "Sign up!"))</p>
	</div>
}