/* Basic  ---------------------------------------- */

.clear { clear: both; }

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
}

#wrapper {
	text-align: left;
	width: 930px;
	margin: 0 auto;
}

/* Logo  ---------------------------------------- */

h1 
{
	color: #808080;
	font-size: 4em;
	font-family: Tahoma;
	line-height: 0.75em;
	padding-top: 0.25em;
}

h1 a 
{
	text-decoration: none;
	color: inherit;
	display: block;
	width: 100%;
	text-shadow: 1px 1px 1px black;
}

h1 strong
{
	color: #BBBBBB;
	font-size: 0.5em;
	text-shadow: 1px 1px 1px #DDD;
}

div.logon-status
{
	color: #888;
	font-size: 1.2em;
	text-align: right;
	padding: 0.5em;
	margin-top: -2em;
}

/* Main Navigation ---------------------------------------- */

#mainNav {
	width: 918px;
	height: 37px;
	padding: 6px;
	margin: 0 0 30px 0;
	background: url(../img/top-menu-bg.gif) no-repeat left top; 
	text-transform: uppercase;
	/* We used a background image making the thick border and the thin one to keep the html structure simple */
}

#mainNav li {
	float: left;
	height: 37px;
	border-right: 1px solid #ddd;
}

#mainNav li a {
	display: block;
	float: left;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	text-decoration: none;
	color: #646464;
	padding: 0 20px;
}

#mainNav li.right {
	float: right;
	border-left: 1px solid #ddd;
	border-right: none;
}

#mainNav li a:hover { background: #fdfcf6; }

#mainNav li a.active, #mainNav li a.active {
	background: #f0f0f0 url(../img/top-menu-item-bg.gif) repeat-x left top;
	color: #454545;
}

/* Container ---------------------------------------- */

#containerHolder {
	background: #eee;
	padding: 5px;
}


#container 
{
	background: #FFF;
	border: 1px solid #DDD;
	width: 918px;
	display: table;
}

/* Sidebar ---------------------------------------- */

.sidebar 
{
	display: table-cell;
}

.sidebar.left
{	
	width: 179px;
	border-right: 1px solid #EEE;
}

.sidebar.right
{
	font-size: 1.5em;
	width: 400px;
	margin-left: 1em;
	border-left: 1px solid #EEE;
	text-align: center;
	vertical-align: middle;	
}

.sidebar .sideNav { width: 179px; }

.sidebar .sideNav li { border-bottom: 1px solid #ddd; width: 179px; }

.sidebar .sideNav li a {
	display: block;
	color: #646464;
	background: #f6f6f6;
	text-decoration: none;
	height: 29px;
	line-height: 29px;
	padding: 0 19px;
	width: 141px;
}

.sidebar .sideNav li a:hover { background: #fdfcf6; }

.sidebar .sideNav li a.active, #sidebar .sideNav li a.active:hover {
	background: #f0f7fa;
	color: #c66653;
}

/* Breadcrumb ---------------------------------------- */

#breadcrumbs {
	width: 718px;
	float: right;
	color: #646464;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ddd;
}

#breadcrumbs a {
	color: #646464;
	text-decoration: none;
}

#breadcrumbs a.active { color: #c66653; }

#breadcrumbs a:hover { text-decoration: underline; }

/* Content ---------------------------------------- */

#main 
{
	padding: 0 1em 1em 1em;
	display: table-cell;
}

h2 {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #5494af;
	line-height: 2em;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #5494af;
	line-height: 2em;
}

#main table 
{
	border-top: 1px solid #ddd;
	width: 100%;
}

#main table tr td, #main table tr th {
	background: #f6f6f6;
	padding: 0.5em;
	border-bottom: 1px solid #ddd;
}

#main table tr th
{
	background-color: #808080;
	color: white;
	font-size: 1.1em;
}

#main table tr.odd td {
	background: #fbfbfb;
}

#main table tr:hover td { background: #fdfcf6; }

#main table .action {
	text-align: right;
	padding: 0 20px 0 10px;
}

#main table tr .action a { margin: 0 0 0 10px; text-decoration: none; color: #9b9b9b; }
#main table tr:hover .action .edit { color: #c5a059; }
#main table tr:hover .action .delete { color: #a02b2b; }
#main table tr:hover .action .view { color: #55a34a; }

#main table tr:hover .action a:hover { text-decoration: underline; }

#main fieldset {
	border: 1px solid #ddd;
	padding: 19px;
	margin: 0 0 20px 0;
	background: #fbfbfb;
}

#main fieldset p { margin: 0 0 14px 0; float: left; width: 100%;  }

#main fieldset label {
	display: block;
	width: 100%;
	margin: 0 0 7px 0;
	line-height: 12px;
}

#main fieldset .text-long {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 264px;
	float: left;
	margin: 0 10px 0 0;
}

#main fieldset .text-medium {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 124px;
	float: left;
	margin: 0 10px 0 0;
}

#main fieldset .text-small {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 44px;
	float: left;
	margin: 0 10px 0 0;
}

#main fieldset .text-long:focus, 
#main fieldset .text-medium:focus,
#main fieldset .text-small:focus,
#main fieldset textarea:focus { background: #fdfcf6 url(../img/input-shaddow-hover.gif) no-repeat left top; }

#main fieldset textarea {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 364px;
	float: left;
	margin: 0 10px 0 0;
	height: 148px;
	overflow: hidden;
}

.button-submit {
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	width: 94px;
	height: 29px;
	cursor: pointer;
	border: none;
	background: url(../img/button-submit.gif) no-repeat left top;
}

p 
{
	margin: 1em 0;
}

/* Footer ---------------------------------------- */

#footer {
	margin: 10px 0 30px 0;
	font-size: 11px;
	line-height: 11px;
	color: #9B9B9B;
	padding: 0 0 0 5px;
}

#footer a { color: #9B9B9B; }

#footer a:hover { text-decoration: none; }