@using FailTracker.Web.Models.Backlog
@model BacklogStoriesViewModel

@{
	ViewBag._Title = "Backlog for " + Model.ProjectName;
}

<h2>Backlog - @Model.ProjectName</h2>
<table>
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Type</th>
			<th>Title</th>
			<th>Size</th>
			<th>Assigned To</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@Html.DisplayFor(m => m.Issues)
	</tbody>
</table>
@Html.ProjectToolbarFor(Model.ProjectID)
