@using FailTracker.Web.Models.Backlog
@model BacklogStoriesViewModel

@{
	ViewBag._Title = "Backlog for " + Model.ProjectName;
}

<h2>Backlog - @Model.ProjectName</h2>
@(Html.DisplayIssueGrid(Model.Issues)
	.WithProjectToolBar(Model.ProjectID)
	.AllowReordering())