@model FailTracker.Web.Models.SignUp.SignUpForm
@{
    ViewBag._Title = "Sign Up";
}

<h2>Sign Up For An Account</h2>
@using(Html.BeginForm()){
	@Html.EditorForModel()
	@MyHelpers.ControlBox("Create Account")
}

@section SideBarRight
{
	<p>Signing up is fast and easy!  Join today to create your first project and start failing!</p>
}